{{if .IsHome }}
<!-- Hero Section -->
<section class="hero-section">
    <div class="container">
        <h1>AI-Powered Workplace Management <br>
            for the Modern Offices</h1>
        <p>

            Vizitor helps workplaces manage visitors, meetings, queues, attendance, deliveries, and space; all in one
            simple platform powered by AI.

        </p>
        <div class="mt-4 ">
            <a href="https://calendly.com/vizitor-demo/30min" class="btn btn-demo">Request a Demo</a>
            <a target="_blank" href="https://www.vizitorapp.com/contact/" class="btn btn-trial">Start free trial</a>
        </div>
    </div>
    <div class="trusted-section">
        <div class="container">
            <h5>Trusted by leading companies for their unique problems</h5>

            <!-- Row 1 (11 logos) -->
            <div class="row justify-content-center align-items-center g-4 trusted-logos">
                <div class="col-4 col-sm-2 col-md-1"><img src="/img/Paytm.svg" class="img-fluid" alt="Paytm"></div>
                <div class="col-4 col-sm-2 col-md-1"><img src="/img/Snapdeal.svg" class="img-fluid" alt="Snapdeal">
                </div>
                <div class="col-4 col-sm-2 col-md-1"><img src="/img/IKEA.svg" class="img-fluid" alt="IKEA"></div>
                <div class="col-4 col-sm-2 col-md-1"><img src="/img/Nestle.svg" class="img-fluid" alt="Nestle"></div>
                <div class="col-4 col-sm-2 col-md-1"><img src="/img/Sequoia.svg" class="img-fluid" alt="Sequoia"></div>
                <div class="col-4 col-sm-2 col-md-1"><img src="/img/Patanjali.svg" class="img-fluid" alt="Patanjali">
                </div>
                <div class="col-4 col-sm-2 col-md-1"><img src="/img/Shiprocket.svg" class="img-fluid" alt="Shiprocket">
                </div>
                <div class="col-4 col-sm-2 col-md-1"><img src="/img/Chemco.svg" class="img-fluid" alt="Chemco"></div>
                <div class="col-4 col-sm-2 col-md-1"><img src="/img/Klarity.svg" class="img-fluid" alt="Klarity"></div>
                <div class="col-4 col-sm-2 col-md-1"><img src="/img/BSF.svg" class="img-fluid" alt="Police"></div>
                <div class="col-4 col-sm-2 col-md-1"><img src="/img/NGX.svg" class="img-fluid" alt="NGX"></div>
            </div>

            <!-- Row 2 (8 logos) -->
            <div class="row justify-content-center align-items-center g-4 trusted-logos mt-4">
                <div class="col-4 col-sm-2 col-md-1"><img src="/img/Hydraulic.svg" class="img-fluid"
                        alt="Hydraulic Energy"></div>
                <div class="col-4 col-sm-2 col-md-1"><img src="/img/Jewellerybox.svg" class="img-fluid"
                        alt="Jewellery Box"></div>
                <div class="col-4 col-sm-2 col-md-1"><img src="/img/Paays.svg" class="img-fluid" alt="Paays"></div>
                <div class="col-4 col-sm-2 col-md-1"><img src="/img/Vizitor.svg" class="img-fluid" alt="Vizitor"></div>
                <div class="col-4 col-sm-2 col-md-1"><img src="/img/Vikram Solar.svg" class="img-fluid"
                        alt="Vikram Solar"></div>
                <div class="col-4 col-sm-2 col-md-1"><img src="/img/Lohum.svg" class="img-fluid" alt="Lohum"></div>
                <div class="col-4 col-sm-2 col-md-1"><img src="/img/Tokopedia.svg" class="img-fluid" alt="Tokopedia">
                </div>
                <div class="col-4 col-sm-2 col-md-1"><img src="/img/Fitelo.svg" class="img-fluid" alt="Fitelo"></div>
            </div>
        </div>
    </div>
</section>

<!-- ---------------------------------------------------------------- -->
<!-- Modern Workplace Section -->
<section class="modern-workplace">
    <div class="container">
        <div class="workplace-box">
            <h6>The Modern Workplace Has Changed</h6>
            <h2>Workplaces are Growing, Is Yours Keeping Up?</h2>
            <p>
                Hybrid schedules, busy Organizations, and growing safety needs make managing workplaces complex.
                Vizitor brings everything together, so your workplace runs smoothly, decisions are data-driven, and
                employees stay happy and productive.

            </p>
        </div>
    </div>
</section>


<!-- --------------------------------------- -->

<section class="ai-workplace">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-12">
                <h6>What Vizitor Does</h6>
                <h2>One Smart Platform to
                    Supervise Whole Workplace</h2>
                <p>
                    Vizitor makes your workplace run seamlessly from visitors to employees, meetings
                    to deliveries. Everything works together, powered by simple automation and AI.


                </p>
            </div>
            <div class="col-md-6 col-12">
            </div>

        </div>
    </div>
</section>

<section class="ai-workplace">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-12">
                <img src="/img/Smart-Visitor-Management.svg" class="img-fluid" alt="Smart Visitor Management">
            </div>
            <div class="col-md-6 col-12">
                <h2>Smart Visitor Management</h2>
                <p>
                    No more paper logs or waiting lines. Visitors can check in using a QR
                    code on their phone or fill in their details on a tablet at the reception.Hosts get instant
                    notifications, can issue badges, and every check-in
                    is recorded securely.

                </p>
                <a target="_blank" href="https://www.vizitorapp.com/visitor-management-system/" class="btn btn-learn">Learn More</a>
            </div>
        </div>
    </div>
</section>

<section class="ai-workplace">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-md-6 col-12">
                <h2>Meeting Room Management</h2>
                <p>
                    Find, book, and manage meeting rooms in seconds.With AI-powered
                    room analytics, you can see which rooms are used most, how often
                    meetings are cancelled, and where space is going unused; helping
                    you plan smarter and make every room count.
                </p>
                <a target="_blank" href="https://www.vizitorapp.com/meeting-room-booking-system/" class="btn btn-learn">Learn More</a>
            </div>
            <div class="col-md-6 col-12">
                <img src="/img/Meeting Room Management.svg" class="img-fluid" alt="Meeting Room Management">
            </div>
        </div>
    </div>
</section>

<section class="ai-workplace">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-12">
                <img src="/img/Queue Management.svg" class="img-fluid" alt="Queue Management">
            </div>
            <div class="col-md-6 col-12">
                <h2>Queue Management</h2>
                <p>
                    Keep waiting lines moving without stress.Vizitor helps you manage
                    queues effortlessly by generating digital tokens for every visitor. 
                    Vizitor predicts peak hours, balances queues, and sends real-time
                    notifications to visitors when it’s their turn; keeping the experience
                    smooth and organized for everyone.

                </p>
                <a target="_blank" href="https://www.vizitorapp.com/queue-management-system/" class="btn btn-learn">Learn More</a>
            </div>

        </div>
    </div>
</section>

<section class="ai-workplace">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-md-6 col-12">
                <h2>Attendance Management</h2>
                <p>
                    Mark attendance the smart way. Employees can sign in using QR code, and Vizitor automatically
                    records entry and exit times.
                    Employees can easily apply for leaves, manage shifts and schedules, and admins can view attendance
                    analytics to understand patterns, productivity, and punctuality; all in one simple dashboard.

                </p>
                <a target="_blank" href="https://www.vizitorapp.com/attendance-management-system/" class="btn btn-learn">Learn More</a>
            </div>
            <div class="col-md-6 col-12">
                <img src="/img/Attendance Management.svg" class="img-fluid" alt="Attendance Management">
            </div>
        </div>
    </div>
</section>

<section class="ai-workplace">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-12">
                <img src="/img/Space Management.svg" class="img-fluid" alt="Space Management">
            </div>
            <div class="col-md-6 col-12">
                <h2>Space Management</h2>
                <p>
                    Use every corner of your workplace smartly. Vizitor helps you book desks easily, track areas which
                    are used most, and identify spaces that often stay empty. It also manages parking lot entries,
                    keeping a clear record of vehicles, timings, and available spots, helping you plan better layouts,
                    reduce idle space, and improve daily efficiency.


                </p>
                <a target="_blank" href="https://www.vizitorapp.com/space-management-software/" class="btn btn-learn">Learn More</a>
            </div>

        </div>
    </div>
</section>


<section class="ai-workplace">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-md-6 col-12">
                <h2>Deliveries Management</h2>
                <p>
                    Never lose a parcel again. Every package is logged, recipients get instant alerts, and pickups are
                    tracked easily; no piles, no confusion.
                    With delivery analytics, you can view patterns like peak delivery hours, pending pickups, and space
                    usage, keeping your reception area clean and efficient.

                </p>
                <a target="_blank" href="https://www.vizitorapp.com/delivery-management-system/" class="btn btn-learn">Learn More</a>
            </div>
            <div class="col-md-6 col-12">
                <img src="/img/Deliveries Management.svg" class="img-fluid" alt="Deliveries Management">
            </div>
        </div>
    </div>
</section>



<!-- ------------------------------------------------------------- -->

<section class="ai-Difference">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-12">
                <h6>Where AI Makes the Difference</h6>
                <h2>From Data to Decisions: AI at Work</h2>
                <p>
                    Vizitor isn’t just digital, it’s intelligent. <br>AI examines daily activity in your workplace to
                    predict visitor flow, suggest
                    better room usage, identify bottlenecks, and automate routine tasks.
                    It learns and improves with time, helping your team work smarter, not harder.


                </p>
                <p><span><img src="/img/check.png" alt="check"></span> Predict busy hours before they happen
                </p>
                <p><span><img src="/img/check.png" alt="check"></span> Get real-time space and safety insights
                </p>
                <p><span><img src="/img/check.png" alt="check"></span> Automate reports, notifications, and reminders
                </p>
                <p><span><img src="/img/check.png" alt="check"></span> Save time and reduce manual effort
                </p>
            </div>
            <div class="col-md-6 col-12">
                <img src="/img/AI at Work.svg" class="img-fluid" alt="AI at Work">
            </div>

        </div>
    </div>
</section>
<!-- ------------------------------------------------------------- -->

<section class="ai-Choose">
    <div class="container border">
        <div class="row align-items-center">
            <h6>Why Businesses Choose Vizitor</h6>
            <h2>One Platform, Endless Possibilities</h2>
            <p><b>Because workplaces run better when everything works together</b></p>
            <p>Vizitor brings people, places, and processes under one roof, powered by automation and AI.</p>
            <div>
                <a href="https://calendly.com/vizitor-demo/30min" class="btn btn-demo">Request a Demo</a>
            </div>

        </div>
        <hr class="mt-5">
        <div class="row g-4 mt-5 ">
            <div class="col-6 col-sm-2 col-md-2">
                <img src="/img/All-in-one-platform.svg" class="img-fluid" alt="Paytm">
                <h5>All-in-one <br>
                    platform</h5>
                <p>Manage visitors, meetings,
                    queues, attendance, space,
                    and deliveries in one place.</p>
            </div>
            <div class="col-6 col-sm-2 col-md-2">
                <img src="/img/AI that learns and improves.svg" class="img-fluid" alt="Chemco">
                <h5>AI that learns and<br>
                    improves</h5>
                <p>Predict busy hours, automate reports, and optimize space use.</p>

            </div>
            <div class="col-6 col-sm-2 col-md-2">
                <img src="/img/Fast and easy setup.svg" class="img-fluid" alt="Klarity">
                <h5>Fast and easy<br>
                    setup</h5>
                <p>Get started in days, not months, with simple onboarding.</p>
            </div>
            <div class="col-6 col-sm-2 col-md-2">
                <img src="/img/Secure and  reliable.svg" class="img-fluid" alt="Police">
                <h5>Secure and <br>
                    reliable</h5>
                <p>Your data stays private, encrypted, and compliant with global standards.</p>
            </div>
            <div class="col-6 col-sm-2 col-md-2">
                <img src="/img/Scales with you.svg" class="img-fluid" alt="NGX">
                <h5>Scales with <br>
                    you</h5>
                <p>Works for offices, factories, hospitals, schools, and co-working spaces.</p>
            </div>
            <div class="col-6 col-sm-2 col-md-2">
                <img src="/img/Scales with you.svg" class="img-fluid" alt="NGX">
                <h5>Real-Time <br> Visibility</h5>
                <p>Get live updates and reports across every corner of your workplace, no spreadsheets needed.</p>
            </div>
        </div>



    </div>
</section>


<!-- ---------------------------------------------------- -->

<section class="ai-Results">
    <div class="container">
        <div class=" mb-5">
            <h2>Real Results from Real Workplaces</h2>
            <p><b>Every workplace we partner with sees a difference.</b></p>
            <p>From smoother check-ins to better space use, Vizitor turns everyday operations into measurable
                improvements.</p>

        </div>
        <div class="row ">
            <div class="col-md-4 col-12 ">
                <div class="card-result">
                    <img src="/img/Result-75-faster-visitor-check-ins.svg" alt="Result 75 faster visitor check-ins">
                    <h5 class="mt-2">Result: 75% faster visitor check-ins</h5>
                    <p><b>Impact:</b> Shorter queues and a better first impression for every guest.</p>
                </div>
                <div class="card-result mt-3">
                    <img src="/img/Result-40-less-manual-admin-work.svg" alt="Result 40 less manual admin work">
                    <h5 class="mt-2">Result: 40% less manual admin work</h5>
                    <p><b>Impact: </b> Teams save hours every week on attendance, bookings, and reporting.</p>
                </div>
            </div>
            <div class="col-md-4 col-12 d-flex ftco-animate">
                <div class="card-result">
                    <h5>Result: 20% higher space utilization</h5>
                    <p class="mb-4"><b>Impact:</b> Smarter use of rooms, desks, and parking areas.</p>
                    <div class="text-center">
                        <img src="/img/Result-20-higher-space-utilization.svg" alt="Result 20 higher space utilization">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 d-flex ftco-animate">
                <div class="card-result1">
                    <h5>Result: Instant visibility</h5>
                    <p class="mb-4"><b>Impact:</b> Real-time dashboards and AI analytics replace guesswork with data.
                    </p>
                    <div class="text-end">
                        <img src="/img/Result-instant-visibility.svg" alt="Result instant visibility">
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<!-- ---------------------------------------------------------- -->

<section class="ai-Ready">
    <div class="container card-Ready">
        <div class="text-center">
            <h2>Ready to Bring AI to Your Workplace?</h2>
            <p>Bring intelligence, automation, and simplicity to every corner of your office. <br> With Vizitor, every
                check-in, meeting, and delivery runs smoother; powered by AI that learns your rhythm.</p>
            <p><b>Let’s create the workplace of the future, today!</b></p>
            <div class="mt-4">
                <a href="https://calendly.com/vizitor-demo/30min" class="btn btn-demo">Request a Demo</a>
                <a href="https://www.vizitorapp.com/contact/" class="btn btn-trial">Start free trial</a>
            </div>
        </div>
    </div>
</section>



<!-- ------------------------------------------------------------ -->

<section class="ai-faq">
    <div class="container ">
        <h3 class="mb-5 text-center">Frequently Asked Questions</h3>

        <div class="accordion" id="faqAccordion">

            <!-- FAQ 1 -->
            <div class="accordion-item">
                <h2 class="accordion-header " id="q1">
                    <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                        data-bs-target="#a1">
                        What is Vizitor’s Workplace Management Platform?
                        <span class="faq-icon"></span>
                    </button>
                </h2>
                <div id="a1" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Vizitor is an all-in-one system that helps you manage everything that happens in your workplace
                        from visitor check-ins and meeting room bookings to attendance, deliveries, and space planning.

                    </div>
                </div>
            </div>

            <!-- FAQ 2 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="q2">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#a2">
                        How does Vizitor use AI in workplace management?
                        <span class="faq-icon"></span>
                    </button>
                </h2>
                <div id="a2" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        AI helps Vizitor predict busy hours, suggest better space usage, send smart reminders, and
                        generate instant reports. It learns from your daily activity and keeps improving to make your
                        workplace more efficient over time.
                    </div>
                </div>
            </div>

            <!-- FAQ 3 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="q3">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#a3">
                        Do I need separate software for each module?
                        <span class="faq-icon"></span>
                    </button>
                </h2>
                <div id="a3" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        No, All modules: Visitor, Meeting Room, Queue, Attendance, Deliveries, and Space Management;
                        work
                        together inside one platform. 

                    </div>
                </div>
            </div>

            <!-- FAQ 4 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="q4">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#a4">
                         Can visitors check in without a QR code?
                        <span class="faq-icon"></span>
                    </button>
                </h2>
                <div id="a4" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Yes, Visitors can either scan a QR code or fill in their details directly on a tablet at the
                        reception. Both
                        methods are quick, paperless, and secure.
                    </div>
                </div>
            </div>
            <!-- FAQ 5 -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="q5">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#a5">
                        Is Vizitor suitable for small offices or only large companies?
                        <span class="faq-icon"></span>
                    </button>
                </h2>
                <div id="a5" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Vizitor works for all kinds of workplaces from small startups to multi-location enterprises. You
                        can start with one module and expand as your needs grow.

                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="q6">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#a6">
                        How secure is the data collected by Vizitor?
                        <span class="faq-icon"></span>
                    </button>
                </h2>
                <div id="a6" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Your data is encrypted and stored securely. Vizitor follows global privacy and data-protection
                        standards
                        (GDPR-compliant) to ensure your information is always safe.

                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="q7">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#a7">
                        What kind of insights or analytics does Vizitor provide?
                        <span class="faq-icon"></span>
                    </button>
                </h2>
                <div id="a7" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        You get live dashboards showing visitor trends, meeting room usage, attendance records, delivery
                        logs, and
                        space analytics; all in one place.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="q8">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#a8">
                        Can I try Vizitor before buying?
                        <span class="faq-icon"></span>
                    </button>
                </h2>
                <div id="a8" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Yes, You can book a free demo or start a trial to explore how Vizitor can make your workplace
                        smarter.
                    </div>
                </div>
            </div>



        </div>
    </div>

</section>


{{end}}